
.navbar {
  background-color: #071013;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 22px;
}

.navLeft {
  display: flex;
  align-items: center;
}

.siteName {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
}

.navRight img {
  border-radius: 50%;
  cursor: pointer;
}


.mainContainer {
  background: linear-gradient(
  to bottom,
  rgba(223, 224, 226, 0.8),
  rgba(183, 153, 156, 0.4),
  rgba(247, 123, 32, 0.2)
);

  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.loginBox {
  background-color: #071013;
  padding: 30px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.logoWrapper {
  margin-bottom: 20px;
}

.title {
  color: #DFE0E2;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
}

.formWrapper {
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 14px;
  text-align: left;
}

.inputGroup label {
  color: #DFE0E2;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  
}

.inputField {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  border: none;
  background-color: #DFE0E2;
  font-size: 12px;
  
}

.buttonWrapper {
  margin-top: 20px;
}

.submitButton {
  font-family: 'Cinzel', serif;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: #f77b20;
  border: 1px solid transparent;
  padding: 1em 2em;
  border-radius: .6rem;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.submitButton:hover {
  border-color:#f77b20;
  background:#071013;
  color: #f77b20;

}

.registerLink {
  color: #DFE0E2;
  font-size: 13px;
  margin-top: 15px;
  font-family: 'Cinzel', serif;
}

.registerLink a {
  color: #f77b20;
  text-decoration: none;
  
}

.registerLink a:hover {
  text-decoration: underline;
}
